:root {
  --background-color: white;
  --foreground-color: black;
  --link-color: blue;
}
.dark {
  --background-color: black;
  --foreground-color: white;
  --link-color: skyblue;
}

body {
  font-family: sans-serif;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

em {
  font-style: normal;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

:is(a, a:visited) {
  color: var(--link-color);
}

#toggleDarkModeButton {
  position: absolute;
  right: 0;
  top: 0;
  margin: 16px;
  float: right;
}

#indexDiv {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#headerBar {
  width: 100%;
}

.indexSection {
  flex: 1 1 auto;
  text-align: center;
  margin: 5px;
}

.horizontal-rule {
  border-style: inset;
  border-width: 1px;
}

.json {
  font-size: 20px;
  filter: brightness(150%);
}

pre {
  overflow-x: auto;
}

#translationInput {
  width: stretch;
}

#translationOutput {
  word-wrap: break-word;
  height: stretch;
  font-family: monospace;
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .indexSection + .indexSection {
    border-left: solid 1px var(--foreground-color);
  }
}

@media screen and (max-width: 600px) {
  #indexDiv {
    flex-direction: column;
  }
  .json,
  #translationOutput {
    font-size: 15px;
  }
}

.json > .jsonString {
  color: green;
}

.json > .jsonNumber {
  color: blueviolet;
}

.json > .jsonBoolean {
  color: firebrick;
}

.json > .jsonNull {
  color: gray;
}

.json > .jsonKey {
  color: hsl(33, 100%, 35%);
}

.json > .jsonText {
  color: purple;
}

.json > .jsonWhitespace {
  color: white;
}
