body {
  font-family: sans-serif;
}

em {
  font-style: normal;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

:is(a, a:visited) {
  color: blue;
}

#indexDiv {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.modifierDiv {
  flex: 1 1 auto;
  text-align: center;
  margin: 5px;
}

@media screen and (min-width: 550px) {
  .modifierDiv + .modifierDiv {
    border-left: solid 1px black;
  }
}

.horizontal-rule {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.json {
  font-size: 20px;
}

.json > .jsonString {
  color: green;
}

.json > .jsonNumber {
  color: blue;
}

.json > .jsonBoolean {
  color: firebrick;
}

.json > .jsonNull {
  color: gray;
}

.json > .jsonKey {
  color: hsl(33, 100%, 35%);
}

.json > .jsonText {
  color: purple;
}

.json > .jsonWhitespace {
  color: white;
}
